%link{:href => "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "http://code.jquery.com/jquery-1.8.3.js"}
%script{:src => "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
%section#add
  %form{:action => "/", :method => "post"}
    %input{:name => "value", :placeholder => "Weight (e.g. 50)", :type =>"text"}
    %input#datepicker{:name => "date", :placeholder => "Date", :readonly => true, :type => "text", :style=>"background-color:#fff;"}
    %input.btn.btn-primary{:type => "submit", :value => "Post new weight"}
%table#home_table
  %tr
    %th id
    %th value
    %th date
    %th user id
    %th user
  - @weights.each do |w|
    %tr
      %td= w.id
      %td= w.value
      %td= w.date.strftime('%d %b %Y')
      %td= w.user
      %td
        %b
          - @user = DmUser.get w.user
          = @user.email
      %td
        %a{:href => "/weights/#{w.id}"} Show
      %td
        %a{:href => "/weights/#{w.id}/edit"} Edit
      %td
        %a{:href => "/weights/#{w.id}/delete"} Delete
:javascript
  $(function() {
    $( "#datepicker" ).datepicker({maxDate: "+0D", dateFormat: "yy-mm-dd"});

    });