%link{:href => "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "http://code.jquery.com/jquery-1.8.3.js"}
%script{:src => "http://code.jquery.com/ui/1.10.0/jquery-ui.js"}
:javascript
  $(document).ready(function(){
   $("tr:even").addClass("even");
   $("tr:odd").addClass("odd");
  });
%section#add
  %form{:action => "/", :method => "post"}
    %input{:name => "value", :placeholder => "Weight (e.g. 50)", :type =>"text"}
    %input#datepicker{:name => "date", :placeholder => "Date", :readonly => true, :type => "text", :style=>"background-color:#fff;"}
    %input.btn.btn-primary{:type => "submit", :value => "Post new weight"}
%a.btn.btn-success{:href=>"/graph"}graph
%a.btn.btn-info{:href=>"/parse_csv"}parse csv
%a.btn.btn-danger{:href=>"/delete_all_weights"}delete weights
%table#home_table
  %thead
    %tr
      %th id
      %th value
      %th date
      %th user id
      %th username
      %th email
      %th
      %th
      %th
  %tbody    
  - @weights.each do |w|
    %tr
      %td= w.id
      %td= w.value
      %td= w.date.strftime('%d %b %Y')
      %td= w.user_id
      %td= User.get(w.user_id).name
      %td= User.get(w.user_id).email
      %td
        %a.btn{:href => "/weights/#{w.id}"} Show
      %td
        %a.btn{:href => "/weights/#{w.id}/edit"} Edit
      %td
        %a.btn.btn-danger{:href => "/weights/#{w.id}/delete"} Delete

:javascript
  $(function() {$( "#datepicker" ).datepicker({maxDate: "+0D", dateFormat: "yy-mm-dd"});});