%link{:href=>"/css/custom-theme/jquery-ui-1.10.0.custom.css", :rel => "stylesheet", :media => "screen"} 
%script{:src => "js/jquery.mousewheel.js"}
%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
%section#add
  %form.form-horizontal{:action => "/", :method => "post"}
    .input-append
      %input.spinner{:name => "value", :placeholder => "Weight (e.g. 50)", :style=>"width:150px;"}
      -if current_user.lbs
        .add-on Lbs
      -else
        .add-on Kg
    %input.datepicker{:name => "date", :placeholder => "Date", :readonly => true, :type => "text", :style=>"background-color:#fff;"} 

    %input.btn.btn-primary{:type => "submit", :value => "Post new weight"}
%a.btn.btn-success{:href=>"/graph"} Graph
%a.btn.btn-info{:href=>"/parse_csv"} Load from csv
%a.btn.btn-danger{:href=>"/weights/wipe"} Delete all weights
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th date
      %th value
      %th trend
      %th username
      %th email
      %th
  %tbody    
  - @weights.each do |w|
    %tr
      %td= w.date.strftime('%d %b %Y')
      %td= w.value
      %td= w.trend
      %td= User.get(w.user_id).name
      %td= User.get(w.user_id).email
      %td{:style=> "text-align:center;"}
        %a.btn{:href => "/weights/#{w.id}"} Show
        %a.btn{:href => "/weights/#{w.id}/edit"} Edit
        %a.btn.btn-danger{:href => "/weights/#{w.id}/delete"} Delete

:javascript
  $(function() {
    $('.datepicker').datepicker({
      maxDate: "+0D", 
      dateFormat: "yy-mm-dd",
      changeMonth: true,
      changeYear: true
    });
  });
  $(function() {
    $('.spinner').spinner({
      min: 0,
      max: 200,
      step: 0.1,
    });
    });
  $(function() {
    $('.spinner').focus(function() {
      $(this).parent().addClass('ui-spinner-focused');
    });
    $('.spinner').focusout(function() {
      $(this).parent().removeClass('ui-spinner-focused');
    });
  });
  $(function() {
    $('.spinner').one('mouseover', function() { $(this).val(#{@default_value}) });
  });
  